body {
  font-weight: 400;
  margin: 0;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  margin: 0 auto;
  width: 92%;
  max-width: 768px;
}

h1#site-title {
    color: #5b07a0;
    font-family: Georgia, serif;
    font-size: 72px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }
  
  h1#article-title {
    font-size: 48px;
    font-family: Georgia, serif;
  }

  p{
    background: #dbdfdf;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  
  figure {
    border: 2px solid black;
    padding: 12px;
    padding-bottom: 24px;
  }
  
img {
    max-width: 100%;
    height: auto;
}  

figure img {
    margin-bottom: 12px;
  }

  figure.main-image {
    background:rgb(0, 104, 69);
    border-color:rgb(93, 110, 104);
    color: white;
    margin-bottom: 32px;
  }
  
  figure.section-image{
    margin-bottom: 32px;
    max-width: 180px;
  }

  figure.section-image.odd{
    float: center;
    margin-left: 20px;
  }

  figure.section-even{
    float: left;
    margin-right: 20px;
  }
  p img {
    float: right;
    max-width: 25%;
    margin-left: 20px;
    margin-bottom: 32px;
  }
  
  a {
    font-weight: bold;
    color: rgb(0, 104, 69);
    list-style: none;
    padding-left: 0;
    border-top: 1px solid rgb(0, 104, 69);
    border-bottom: 1px solid rgb(0, 104, 69);
    justify-content: center;
  }


  ul {
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 104, 69);
    padding: 9px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

footer nav ul li a {
  color: #ffffff;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(0, 104, 69);
  color: #ffffff;
}

figure.section-image {
  border: 2px solid #009292;
  width: 800px;
  height: auto;
  object-fit: cover;
}

@media all and (min-width: 376px) {
  a {
   display: flex;
    gap: 30px;}

    figure.section-image.odd{
      float: right;
      margin-left: 20px;
    }
}

@-ms-viewport{
  width: device-width;
}